script(src="https://kit.fontawesome.com/e0bda08d23.js" crossorigin="anonymous")
header
	div.navbar
		a.nav-link(href="/") EFL Tools
			i.fas.fa-home
		a.nav-link(href="cloze") Cloze Test
			i.fas.fa-money-check
		a.nav-link(href="sentenceShuffle") Sentence Shuffle
			i.fas.fa-random
		a.nav-link(href="letterBingo") Letter Bingo
			i.fas.fa-th