script(src="https://kit.fontawesome.com/e0bda08d23.js" crossorigin="anonymous")
script(src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit")
script.
	function googleTranslateElementInit() {
		new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
		}
header
	.navbar
		a.nav-link(href="/") EFL Tools
			i.fas.fa-home
		a.nav-link(href="cloze") Cloze Test
			i.fas.fa-money-check
		a.nav-link(href="sentenceShuffle") Sentence Shuffle
			i.fas.fa-random
		a.nav-link(href="letterBingo") Letter Bingo
			i.fas.fa-th
		a.nav-link(href="matching") Matching
			i.fas.fa-equals
		#google_translate_element