doctype HTML5
html(lang="en")

	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(name='discription' content=('English as a Foreign Langague Tools'))
		meta(name="author" content="Bryce Trader")
		title EFL Tools
		link(rel="stylesheet", href="styles.css")

	body

		include __header.pug
		
		block content 

		include __footer.pug