extends structure/__layout.pug
block content
  .pageTitle.displayFlexCenter.no-select Cloze Test Maker

  .content-container
    #userInput.input.displayFlexCenter.no-select
      form
        label(for='text')#textLabel.subTitle Input Text
        textarea(name="text" col='50' row="10")#text

    #middle.mid.displayFlexCenter.no-select
      div.displayFlexCenter.subTitle Options
      form#choices
        div
          input(type='checkbox')#whWords
          label(for="whWords") Question Words
        div
          input(type='checkbox')#artWords
          label(for="artWords") Articles
        div
          input(type='checkbox')#demons
          label(for="demons") Demonstratives
        div
          input(type='checkbox')#beVerbs
          label(for='beVerbs') Be-verbs
        div
          input(type='checkbox')#proN
          label(for='proN') Pronouns
        div
          input(type='checkbox')#nth
          label(for="nth").boxPaddingFromText Every N<sup>th</sup> word
          input.nthBox#nthNumber(type='number' value='5' step='1')
        div
          input(type='checkbox')#custom
          label(for='custom') Make Your Own
          .customInputWrapper
            input(type='text')#customInput
            label(for="customInput")
        div
          input(type='checkbox')#firstLetter
          label(for='firstLetter') First Letter Hint?
      #clozeButtonWrapper
        button#cloze Add Blanks
        button#reset Reset
        button#copyToClipboard Copy to Clipboard

    #results.input
      form.outputFormContainer
        label(for="output")#title.no-select.subTitle Output Text 
        textarea(name="output", cols="50", rows="10" readonly)#output
    #howTo

  script(src="cloze.js") 