extends structure/__layout.pug
block content
  .pageTitle.no-select Cloze Test Maker

  .everything
    #userInput.input.no-select
      form
        label(for='text')#textLabel Input Text
        textarea(name="text" col='50' row="10")#text

    #middle.mid.no-select
      div.optionsTitle Options
      form#choices
        div.options
          input(type='checkbox')#whWords
          label(for="whWords") Question Words
        div.options
          input(type='checkbox')#artWords
          label(for="artWords") Articles
        div.options
          input(type='checkbox')#demons
          label(for="demons") Demonstratives
        div.options
          input(type='checkbox')#beVerbs
          label(for='beVerbs') Be-verbs
        div.options
          input(type='checkbox')#proN
          label(for='proN') Pronouns
        div.options
          input(type='checkbox')#nth
          label(for="nth") Every N<sup>th</sup> word
          input.nthBox#nthNumber(type='number' value='5' step='1' name="nth-number")
        div.options
          input(type='checkbox')#custom
          label(for='custom') Make Your Own
          input(type='text')#customInput
        div.options
          input(type='checkbox')#firstLetter
          label(for='firstLetter') First Letter Hint?
      button#cloze Add Blanks

    #results.input
      form.outputSide
        lable(for="output")#title.no-select.outputTitle Output Text 
        textarea(name="output", cols="50", rows="10" readonly)#output.output

  script(src="cloze.js") 