extends structure/__layout.pug
block head 
    title EFLT: Letter Bingo 
    script(src="letterBingo.js" defer)

block content
    main.no-select.displayFlexCenter.bingoContainer
        div.pageTitle.bingoTitle Letter Bingo
        .no-select#toolbarLB
            button#startLB.background-purple New Game
            button#nextLB.background-purple Next Letter 
            div.radioButton
                input(type="radio", name="case" checked)#upperLB
                label(for="upper") Uppercase 
            div.radioButton
                input(type="radio", name="case")#lowerLB
                label(for="lower") Lowercase
            #letter-remainingLB Letters Remaining:
                span#remainLB  26
        #bingoLB 
            #current-letterLB
            #called-lettersLB
