extends structure/__layout.pug
block head 
	title EFLT: Matching
	script(src="matching.js" defer)

block content
	.content-container
		.buttonContainer
			button.green#addRow Add Row
			button#matching Match
		.textMatching#rowContainer
			.textMatching#0
				.sideMatching
					label(for='A') Column A
					input#A0(name='A')
				.sideMatching
					label(for="B") Column B
					input#B0(name='B')
		#resultsContainer
			.textMatching
				.sideMatching#numbered
					ol#numberedList
				.sideMatching#lettered
					ol#letteredList(type='A')
		#howTo.howTo