:root {
	--maincolor: #333;
	--hover: #444;
	--active: #222;
	--gray: #e1e8f0;
	--red: #e62739;
	--purple: #611fac;
	--blue: #3545d4;
}

body {
	margin: 0;
	padding: 0;
	font-size: 24px;
	font-family: 'Arial';
	background: var(--gray);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type=number] {
	-moz-appearance: textfield;
}

label {
	cursor: pointer;
	user-select: none;
}

.no-select {
	user-select: none;
}

.displayFlexCenter {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.pageTitle {
	width: 100%;
	font-size: 48px;
}

.content-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	min-height: calc(100vh - 7rem);
}



/* Header and footer */
.navbar {
	display: flex;
	background: linear-gradient(90deg, var(--maincolor), #222);
	width: 100%;
	overflow: hidden;
	justify-content: flex-start;
	align-items: center;
}

.navbar a {
	font-size: 1.5rem;
	color: white;
	text-align: center;
	padding: 1rem 1rem;
	text-decoration: none;
}

.navbar a:hover {
	background: var(--hover)
}

.navbar a:active {
	background: var(--active);
	opacity: 0.75;
}

.nav-link i {
	padding-left: .25em;
}

.navbar a:hover i {
	color: var(--purple);
	transition: color 0.5s;
}

.footer {
	display: flex;
	background: var(--maincolor);
	width: 100%;
	overflow: hidden;
	justify-content: flex-start;
	align-items: center;
	position: relative;
	justify-content: flex-end;
}

.footer div {
	font-size: 1rem;
	color: white;
	text-align: center;
	padding: 1rem 1rem;
	text-decoration: none;
}

.footer i {
	font-size: 1rem;
	color: white;
	text-align: center;
	padding: 1rem 1rem;
	text-decoration: none;
	padding: 0;
}




/* Landing CSS */
#landingTitle {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	font-size: 48px;
}

#landingContent {
	font-size: 24px;
	padding: 16px;
}

.landingPageContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
	


/* Cloze CSS */
.input {
	align-self: flex-start;
	width: 40%;
	height: 100%;
}
	
.input form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 400px;
}
	
.input label {
	font-size: 32px;
}

textarea {
	outline-color: var(--blue);
	width: 95%;
	height: 85%;
	resize: none;
	font-size: 20px;
}
	
.mid {
	flex-direction: column;
	flex-wrap: wrap;
	overflow: hidden;
	align-items: left;
	background: var(--gray);
	width: 20%;
}

.mid form {
	border: 1px solid black;
	background: white;
}

.nthBox {
	text-align: center;
	width: 10%;
	font-size: 20px;
}

.boxPaddingFromText {
	padding-right: 12px;
}

.customInputWrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#customInput {
	width: 95%;
}

#clozeButtonWrapper {
	margin-top: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#clozeButtonWrapper button {
	margin: 5px 0;
}

button {
	border-radius: 15px;
	padding: 10px 24px;
	text-decoration: none;
	color: white;
	margin-right: 1em;
	font-size: 1em;
	cursor: pointer;
	background-color: var(--purple);
}

button:hover {
	opacity: 0.75;
	cursor: pointer;
}

button:active {
	opacity: 1;
}

#cloze {
	background: var(--blue);
}

#reset {
	background: var(--red);
}

.outputFormContainer {
    display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}
	
.subTitle {
    font-size: 32px;
}

#howTo {
	padding-left: 24px;
}



/* Letter Bingo CSS */
.bingoContainer {
	flex-direction: column;
	justify-content: unset;
	align-items: unset;
	align-items: center;
	font-family: 'NHhandwriting', 'Comic Sans MS';
	min-height: calc(100vh - 7rem);
}

.bingoTitle {
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--purple);
}

#toolbarLB {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin-bottom: 1em;
	color: var(--purple);
	font-size: 1.25em;
	width: 100vw;
}

#bingoLB {
	border: solid;
	border-color: var(--purple);
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 95%;
}

#current-letterLB {
	min-width: 70%;
	min-height: 40%;
	max-width: 70%;
	max-height: 40%;
	font-size: 25vmax;
	color: var(--red);
	border-right: solid;
	border-color: var(--purple);
	overflow-y: hidden;
}

#called-lettersLB {
	max-width: 30%;
	width: 30%;
	color: var(--blue);
	font-size: 5vmax;
}

.background-purple {
	background: var(--purple);
}

.radioButton {
	display: flex;
	justify-content: center;
	align-items: center;
}